body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexiable-container {
    display: flex;
    margin-bottom: 200px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

.top-banner {
    background-image: url('./img/corner.png');
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url('./img/corner-right.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.experience {
    background-image: url('./img/corner.png');
    background-repeat: no-repeat;
}

.experience-item {
    box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.1);
    width: 48%;
    margin: 0 2%;
    padding: 0 2%;
    border-radius: 0;
}

#full-stack-developer {
    border-left: 7px solid orange;
}

#baby-web-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}